body,
html {
    font-size: 10px;
    box-sizing: border-box;
    background-color: rgba(50, 200  , 255, 1)   ;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue:#3008ee;
  --orange:#ff7730;
  --primary: var(--orange);
  --primary: var(--blue);
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;
  
}




 .container, #agent {
  display: flex;
  flex-wrap: wrap;
  margin: 0.6rem 0;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  
}



.card {
  display: flex;
  margin: 3rem 0;
  height: 560px;
  width: 27vw;
  background-color: rgba(65, 65, 150, 0.6);
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  transition: 1s;
  transition-duration: 0.5s;
  overflow: visible;
  border-radius: 12px;
  gap: 1px;
} 


.read-the-docs {
  color: #888;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit; 
  cursor: pointer;
  transition: border-color 0.25s;
}

.Maintitle {
  text-align: center;
  font-size: 50px;  
  
}